@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    height: 100%;
    text-align: center;
    .input {
    }
  }
  .FormTitle {
    margin-top: 48px;
    margin-bottom: 16px;
    h2 {
      text-decoration: underline;

      text-align: center;
      font-size: 32px;
      font-family: 'Poller One';
    }
  }
  .PageOneInput {
    .PageOneText {
      width: 80%;
      height: 48px;
      border: 1px solid black;
      border-radius: 8px;
      box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
      &::placeholder {
        color: #501766;
        font-size: 16px;
      }
    }
  }
  .NextButton {
    .Button1 {
      width: 80%;
      height: 48px;
      border: 1px solid black;
      color: #fff;
      border-radius: 24px;
      background-color: #501766;
      box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
      &:hover {
        cursor: pointer;
        &:hover {
          background-color: #290b34;
        }
      }
    }
  }
}
