body {
  width: 100%;
  height: 100%;
  text-align: center;
  .input {
  }
}
.FormTitle {
  margin-top: 56px;
  margin-bottom: 16px;
  h2 {
    font-size: 32px;

    text-align: center;
    text-decoration: underline;
    font-family: 'Poller One';
  }
}
.PageOneInput {
  margin-top: 8px;
  .PageOneText {
    width: 80%;
    height: 48px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    &::placeholder {
      color: #501766;
      font-size: 16px;
    }
  }
}
.NextButton {
  .Button1 {
    width: 80%;
    height: 48px;
    border-radius: 24px;
    border: 1px solid black;
    background-color: #501766;
    color: #fff;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    &:hover {
      cursor: pointer;
      &:hover {
        background-color: #290b34;
      }
    }
  }
}
