@import './mixins';

@include desktop {
  .KioskSelectHelp {
    position: absolute;
    left: 15vw;
    .KioskSelectHelpInner {
      width: 70vw;
      height: 70vw;
      background-color: white;
      .Header {
        display: flex;
        justify-content: right;
        .Close {
          display: flex;
          width: 3vw;
          height: 3vw;
          border: none;
          border-radius: 50%;
          font-size: 4vw;
          justify-content: center;
          align-items: center;
        }
      }
      .Start {
        font-size: 5vw;
      }
    }
  }
}
