// .myClass {
//   ├── 객체의 노출여부와 표현방식
//   │   ├── display
//   │   └── list-style
//   │
//   ├── 위치와 좌표
//   │   ├── position
//   │   ├── float
//   │   └── clear
//   │
//   ├── 크기와 여백
//   │   ├── width / height
//   │   └── padding / margin
//   │
//   ├── 윤곽과 배경
//   │   └── border / background
//   │
//   ├── 글자와 정렬
//   │   ├── corlor / font
//   │   ├── text-decoration
//   │   ├── text-align / vertical-align
//   │   └── white-space
//   │
//   └── 내용
//       └── content

@import './mixins';

@include desktop {
  .KioskBackground {
    position: relative;

    width: 100vw;
    height: 100vh;
    margin: 0px;

    background: #f8f8fb;

    .ContentBlock {
      display: flex;
      justify-content: space-between;
      margin-top: 4vh;
      width: 100vw;
      height: 66.5vh;

      background: black;
      .PinQRBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // position: absolute;
        width: 912px / 2560px * 100vw;
        height: 1064px / 1600px * 100vh;
        margin-left: 136px / 2560px * 100vw;
        // margin-top: 264px / 1600px * 100vh;

        background: #ffffff;
        box-shadow: 0.25pvh 0.25vh 0.5vh rgba(0, 0, 0, 0.25);
        border-radius: 1.5vh;

        display: flex;
        .QRBlock {
          display: flex;
          flex-direction: column;
          align-items: center;

          width: 20vw;
          .QRImage {
            width: 400px / 2560px * 100vw;
            height: 400px / 1600px * 100vh;
            background: black;
          }
          .QRTitle {
            font-size: 2vw;
          }
          .QRText {
            font-size: 1vw;
          }
        }
        .PinInputBlock {
          display: flex;
          .PinInput {
            width: 15vw;
            margin-right: 2vw;
          }
          .PinPlus {
            width: 2vw;
            height: 2vw;
            border-radius: 1vw;
            border: 1px solid black;
          }
        }
      }
      .UsersBlock {
        .PlayersBlock {
          width: 1248px / 2560px * 100vw;
          height: 1064px / 1600px * 100vh;

          margin-right: 116px / 2560px * 100vw;
          overflow: auto;

          background: #ffffff;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 24px;
          .PlayerText {
            margin-top: 24px / 1600px * 100vh;
            margin-left: 44px / 2560px * 100vw;
            font-size: 35px / 1600px * 100vh;
          }
          .PlayersList {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 900px / 1600px * 100vh;
            .EachPlayer {
              width: 1016px / 2560px * 100vw;
              height: 184px / 1600px * 100vh;
              //   left: 1281px;
              //   top: 356px;

              background: #ffffff;
              border: 1px solid #000000;
              box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
              border-radius: 24px;
            }
            .PlayerLogin {
              display: flex;
              border: 8px solid #3b8cd7;
              .PlayerProfileBlock {
                display: flex;
                justify-content: center;
                width: 20%;
                height: 100%;
                background: black;
                .PlayerProfile {
                  height: 100%;
                  width: 85%;
                  border-radius: 50%;
                  background: white;
                }
              }
              .PlayerInfoBlock {
                width: 40%;
                height: 100%;
                background: blue;
                .PlayerNameAndRank {
                  width: 100%;
                  height: 50%;
                  background: violet;
                  .PlayerName {
                    width: 30%;
                    height: 100%;
                    background: darkorange;
                  }

                  .PlayerRank {
                    width: 70%;
                    height: 100%;
                    background: red;
                  }
                }
                .PlayerRecordBlock {
                  width: 100%;
                  height: 50%;
                  background: yellow;
                  .PlayerRecordTitle {
                    width: 20%;
                    height: 100%;
                    background: green;
                  }

                  .PlayerRecordContent {
                    width: 80%;
                    height: 100%;
                    background: purple;
                  }
                }
              }
              .PlayerAverageScore {
                width: 30%;
                height: 100%;
                background: teal;
              }
              .PlayerCancelCircle {
                width: 10%;
                height: 50%;
                background: gray;
              }
            }
          }
        }
      }
    }
    .GameStartBlock {
      display: flex;
      justify-content: center;
      margin-top: 2vw;
      .GameStartButton {
        /* Rectangle 34 */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 608px / 2560px * 100vw;
        height: 160px / 1600px * 100vh;

        background: #501766;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        font-size: 5vw;
        color: white;
        text-decoration: none;
      }
    }
  }
}
