// .myClass {
//   ├── 객체의 노출여부와 표현방식
//   │   ├── display
//   │   └── list-style
//   │
//   ├── 위치와 좌표
//   │   ├── position
//   │   ├── float
//   │   └── clear
//   │
//   ├── 크기와 여백
//   │   ├── width / height
//   │   └── padding / margin
//   │
//   ├── 윤곽과 배경
//   │   └── border / background
//   │
//   ├── 글자와 정렬
//   │   ├── corlor / font
//   │   ├── text-decoration
//   │   ├── text-align / vertical-align
//   │   └── white-space
//   │
//   └── 내용
//       └── content

@import './mixins';

@include desktop {
  .KioskBackground {
    position: relative;

    width: 100vw;
    height: 100vh;
    margin: 0px;

    background: #f8f8fb;
    overflow: auto;

    .OnlineGameContentBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: (1600 - 24 * 2) / 1600 * 100vh;
      width: (2560 - 32 * 2) / 2560 * 100vw;
      margin-left: 32 / 2560 * 100vw;
      margin-top: 24 / 1600 * 100vh;
      background: blue;
      .OnlineGamePlayerAndScore {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .OnlineGamePlayerBlock {
          height: 324 / 1600 * 100vh;
          width: 264 / 2560 * 100vw;
          background: yellow;
        }
      }
    }
    .OnlineGameDisplayBlock {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      width: (2560 - 40 * 2) / 2560 * 100vw;
      height: 1160 / 1600 * 100vh;
      margin-top: 64 / 1600 * 100vh;
      background: fuchsia;
      .OnlineGameDisplay {
        width: 1224 / 2560 * 100vw;
        height: 1160 / 1600 * 100vh;
        border-radius: 120 / 2560 * 100vw;
        background: wheat;
      }
      .OnlineGameHelpCircle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 120 / 2560 * 100vw;
        height: 120 / 1600 * 100vh;
        right: 24 / 2560 * 100vw;
        bottom: 40 / 1600 * 100vh;

        background: #f8f8fb;
        border-radius: 50vw;

        font-family: 'Archivo';
        font-style: normal;
        font-weight: 700;
        font-size: 100 / 2560 * 100vw;
        line-height: 109 / 1600 * 100vh;
        display: flex;
        align-items: center;
        text-align: center;

        color: #501766;
      }
    }
  }
}
