$breakpoint-tablet: 768px;
.KioskBackground {
  position: relative;
width: 100vw;
height: 100vh;


background: #F8F8FB;

.TitleBox {
  // position: absolute;
  // width: 2560px;
  // height: 622px;
  width: 100%;
  height: 38.8%;
  // left: 0px;
  // top: 0px;
  background: #501766;
  display: flex;
  justify-content: center;
  align-items: center;
  // .pin {
  //   position: absolute;
  //   width: 219.01px;
  //   height: 34.95px;
  //   left: 1820.69px;
  //   top: 481.12px;

  //   border: 6px solid #FFFFFF;
  //   transform: rotate(-90deg);
  // }
  .HelpCircleBlock {
    width:80%;

  .HelpCircle {
    /* Group 303 */


// position: absolute;
width: 4.68%;
height: 19.29%;
margin-left: 92.1%;
margin-top: 2.5%;
border-radius: 50%;

/* Ellipse 47 */

background: #F8F8FB;

/* ? */

font-family: 'Archivo';
font-style: normal;
font-weight: 700;
font-size: 200%;
// line-height: 109px;
text-align: center;

color: #501766;
  }
}
  .TitleText {
    /* DG.RR */


    // position: absolute;
    width: 62.5%;
    height: 25%;
    // left: 413px;
    // top: 160px;

    font-family: 'Poller One';
    font-style: normal;
    font-weight: 400;
    font-size: 232px;
    line-height: 276px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;
    // border: 1px solid black;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black, 0px 0px 45px #FE259B;
  }
}
.Competition {
  /* Rectangle 8 */


position: absolute;
width: 720px;
height: 560px;
left: 320px;
top: 720px;

background: #501766;
box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
border-radius: 24px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
  .CompetitionText {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 97px;
// border: 1px solid black;
color: #FFFFFF;
  }
}

.Friendly{
  /* Rectangle 10 */
  
  
  position: absolute;
  width: 720px;
  height: 560px;
  left: 1520px;
  top: 720px;
  
  background: #501766;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
display: flex;
align-items: center;
justify-content: center;

  .FriendlyText {
    /* 친선전 */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 97px;

color: #FFFFFF;
  }
  }

.HelpMessageBlock {
  /* Frame 1039 */


position: absolute;
width: 2080px;
height: 1312px;
left: 240px;
top: 144px;
z-index: 10;

background: #FFFFFF;
/* Stroke/light */

border: 1px solid #DEE2E6;
/* Shadow / Small */

box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 20px 20px rgba(0, 0, 0, 0.08);
border-radius: 50px;
}

}

