@import './mixins';

@include desktop {
  .KioskBackground {
    position: relative;

    width: 100vw;
    height: 100vh;
    margin: 0px;

    background: #f8f8fb;
    overflow: auto;

    .OnlineGameContentBlock {
      display: flex;
      width: (2560 - 32 * 2) / 2560 * 100vw;
      height: (1600 - 24 * 2) / 1600 * 100vh;
      // background: blue;
      flex-direction: column;
      align-items: center;
      margin-left: 32 / 2560 * 100vw;
      margin-top: 24 / 1600 * 100vh;
      .OnlineHelpMessageModal {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 90vw;
        height: 50vw;
        left: 5vw;
        top: 5vw;
        background: white;
        z-index: 5;
        font-size: 5vw;
      }
      .OnlineGamePlayerAndScore {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .OnlineGamePlayerBlock {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          width: 264 / 2560 * 100vw;
          height: 324 / 1600 * 100vh;
          background: yellow;
          .OnlineGameProfile {
            width: 7vw;
            height: 7vw;
            border-radius: 5vw;
            background: white;
          }
          .OnlineGamePlayerName {
            width: 8vw;
            height: 5vh;
            border-radius: 1vw;
            background: white;
          }
        }
      }
    }
    .OnlineGameDisplayBlock {
      display: flex;
      position: relative;
      width: (2560 - 40 * 2) / 2560 * 100vw;
      height: 800 / 1600 * 100vh;
      // background: fuchsia;
      justify-content: space-between;
      align-items: center;
      margin-top: 64 / 1600 * 100vh;
      .OnlineGameDisplay {
        width: 1224 / 2560 * 100vw;
        height: 1160 / 1600 * 100vh;
        // background: wheat;
        border-radius: 120 / 2560 * 100vw;
      }
      .OnlineGameHelpCircle {
        display: flex;
        display: flex;
        position: absolute;
        width: 120 / 2560 * 100vw;
        height: 120 / 1600 * 100vh;

        background: #f8f8fb;
        text-align: center;
        justify-content: center;
        align-items: center;
        right: 24 / 2560 * 100vw;
        bottom: 40 / 1600 * 100vh;
        border-radius: 50vw;

        font-family: 'Archivo';
        font-style: normal;
        font-weight: 700;
        font-size: 100 / 2560 * 100vw;
        line-height: 109 / 1600 * 100vh;
        align-items: center;

        // color: #501766;
      }
    }
  }
}
