@import './mixins';

@include desktop {
  .KioskBackground {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0px;

    background: #f8f8fb;
    .ResultContentBlock {
      display: flex;
      width: 100vw;
      height: (1600 - 288) / 1600 * 100vh;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 64 / 1600 * 100vh;

      .EachPlayerBlock {
        display: flex;
        width: 100%;
        height: 30%;

        .PlayerProfile {
          width: 15%;
          height: 100%;
          background: white;
          border-radius: 50%;
          margin-left: 5%;
        }

        .PlayerScoreChart {
          display: flex;
          width: 80%;
          height: 100%;
          align-items: center;
          .PlayerScoreBar {
            $player-score-length: '30%';

            width: $player-score-length;
            height: 80%;
            background: blue;
            font-size: 10em;
          }
        }
      }
    }
  }
}
