@import './mixins';

@keyframes bounce_frames {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 10vh, 0);
  }
}

@keyframes loading_online_game {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(2);
  }
}

@include desktop {
  .KioskBackground {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0px;

    background: #f8f8fb;

    .MatchedWindow {
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      left: 20vw;
      top: 25vw;
      width: 60vw;
      height: 30vw;
      background: white;
      z-index: 5;
      border-radius: 5vw;
      .MatchedTitle {
        font-size: 5vw;
      }
      .MatchedAppear {
        width: 80%;
        height: 30%;
        left: 10vw;
        animation-name: loading_online_game;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        // animation-delay: 1s;
        z-index: 10;
        .MatchedLoadingText {
          font-size: 2vw;
        }
        .MatchedLoading {
          width: 100%;
          height: 20%;
          border-radius: 10vw;
          background: gray;
          .MatchedLoadingBar {
            width: 100%;
            height: 100%;
            border-radius: 5vw;
            background: green;
          }
        }
      }
    }
    .OnlineFindContentBlock {
      display: flex;
      width: 100vw;
      height: 87.5vh;
      justify-content: center;
      .OnlineFindCenterAlign {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .LoadingBounceBallBlock {
          display: flex;
          width: 20vw;
          height: 10vh;
          justify-content: space-between;
          .LoadingBounceBall {
            width: 5vw;
            height: 5vw;
            background: #ff5722;
            border-radius: 50%;

            animation: bounce_frames 0.5s;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
            animation-iteration-count: infinite;
          }
          .Bouncing {
            background: #f4b7d3;
            animation-delay: 0s;
          }
          .Bouncing2 {
            background: #df93bd;
            animation-delay: 0.3s;
          }
          .Bouncing3 {
            background: #ca80b1;
            animation-delay: 0.6s;
          }
        }
        .OnlineFindLoading {
          margin-top: 432 / 1600 * 100vh;
        }
        .OnlineFindTextBlock {
          margin-top: 20vh;
          font-size: 4vw;
        }

        .OnlineFindTimeBlock {
          font-size: 4vw;
        }
        .OnlineFindCancelBlock {
          display: flex;
          width: 608 / 2560 * 100vw;
          height: 160 / 1600 * 100vh;
          background: #501766;
          justify-content: center;
          align-items: center;
          margin-top: 2vh;
          box-shadow: 0vh 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
          border-radius: 1.5vh;
          color: white;
          font-size: 5vw;
          text-decoration: none;
        }
      }
    }
  }
}
