@import './mixins';

@keyframes score_bar {
  from {
    // transform: scaleX(0.01);
    width: 1%;
  }

  to {
    // transform: scaleX(1);
    width: 100%;
    // width: 2%;
  }
}

@keyframes crown_appear {
  0% {
    opacity: 0%;
    transform: scale(2, 2);
  }
  50% {
    transform: scale(-1.5, 1.5);
  }
  100% {
  }
}

// animation: bounce_frames 0.5s;
//             animation-direction: alternate;
//             animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
//             animation-iteration-count: infinite;
@include desktop {
  .KioskBackground {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0px;

    background: #f8f8fb;
    .OfflineGameEnd {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      position: absolute;
      left: 30vw;
      top: 20vw;
      width: 40vw;
      height: 20vw;
      background: purple;
      z-index: 5;
      border-radius: 2vw;
      .OfflineGameEndTitle {
        width: 80%;
        height: 20%;
        font-size: 3vw;
        color: white;
      }
      .OfflineGameEndText {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 30%;
        font-size: 2vw;
        color: white;
      }
      .GoNextButtonBlock {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        height: 30%;
        .GoNextButton {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20%;
          height: 50%;
          background: white;
          color: purple;
          border-radius: 1vw;
          font-size: 2vw;
        }
      }
    }
    .ResultContentBlock {
      display: flex;
      width: 100vw;
      height: (1600 - 288) / 1600 * 100vh;
      justify-content: center;
      align-items: center;
      // flex-direction: column;
      justify-content: space-between;
      margin-top: 64 / 1600 * 100vh;

      .WinnerPlayerBlock {
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .WinnerPlayerStarBlock {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 20%;
          justify-content: center;
          align-items: center;
          .WinnerPlayerStar {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 80%;
            border-radius: 50%;
            margin-left: 5%;
            font-size: 2vw;
            animation-name: crown_appear;
            animation-duration: 1.5s;
            animation-direction: alternate;
            animation-delay: 2s;
            animation-iteration-count: 1;
            animation-fill-mode: backwards;
            animation-timing-function: linear;
          }
        }
      }
      .ResultChartBlock {
        display: flex;
        width: 90%;
        height: 100%;
        // background: black;
        justify-content: space-around;
        align-items: center;

        .ResultChartProfileBlock {
          display: flex;
          flex-direction: column;
          width: 15%;
          height: 100%;
          justify-content: space-around;
          align-items: center;
          .ResultChartProfile {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 20%;
            background: white;
            border-radius: 50%;
            margin-left: 5%;
            font-size: 2vw;
          }
        }
        .ResultChartGraphBlock {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 85%;
          height: 100%;
          border-left: 0.1vw solid purple;
          .EachPlayerBlock {
            width: 100%;
            height: 20%;
            .PlayerScoreChartBlock {
              display: flex;
              width: 100%;
              height: 100%;
              align-items: center;
              .PlayerScoreChart {
                width: 100%;
                height: 80%;
                .PlayerScoreChartBar {
                  display: flex;
                  width: 1%;
                  height: 100%;
                  background: purple;
                  justify-content: right;
                  align-items: center;
                  font-size: 5vw;
                  border-top-right-radius: 1vw;
                  border-bottom-right-radius: 1vw;
                  color: white;

                  animation: score_bar;
                  animation-duration: 1.5s;
                  animation-direction: alternate;
                  // animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
                  animation-iteration-count: 1;
                  animation-fill-mode: forwards;
                  animation-timing-function: linear;
                }
              }
              .PlayerScoreNumber {
                display: flex;
                width: 10%;
                height: 80%;
                justify-content: center;
                align-items: center;
                font-size: 5vw;
              }
            }
          }
        }
      }
    }
  }
}
