// .myClass {
//   ├── 객체의 노출여부와 표현방식
//   │   ├── display
//   │   └── list-style
//   │
//   ├── 위치와 좌표
//   │   ├── position
//   │   ├── float
//   │   └── clear
//   │
//   ├── 크기와 여백
//   │   ├── width / height
//   │   └── padding / margin
//   │
//   ├── 윤곽과 배경
//   │   └── border / background
//   │
//   ├── 글자와 정렬
//   │   ├── corlor / font
//   │   ├── text-decoration
//   │   ├── text-align / vertical-align
//   │   └── white-space
//   │
//   └── 내용
//       └── content
 
.PageBase {
  display: flex;
  flex-wrap: wrap;
  padding-top: 64 / 1080 * 100vh;
  padding-right: 12.5vw;
  padding-left: 12.5vw;
  justify-content: space-between;
  background: linear-gradient(180deg, #501766 50vh, #F8F8FB 50vh);

  .Nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 3.2vh;
    padding-top: 16px;
    padding-bottom: 4px;
    background-color: #501766;
    color: white;
    justify-content: space-between;
    align-items: center;

    .NavLogo {
      position: fixed;
      left: 12.5vw;
      width: 10vw;
      margin: 0;
    
      //로고 이미지 대체시 삭제
      font-family: 'Poller One';
      font-style: normal;
      font-weight: 400;
      font-size: 2.5vw;
      line-height: 57px;
    }
    
    .NavAvatar {
      display: flex;
      position: fixed;
      right: 12.5vw;
      width: 12vw;
      justify-content: space-between;
    
      //임시 텍스트 처리
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 1.25vw;
      line-height: 22px;
    }
  }

  .BoxTitle {
    margin: 0;
    padding-top: 24 / 1080 * 100vh;
    padding-left: 24 / 1980 * 100vw;
    text-align: start;
    color: #505050;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vmin;
    line-height: 22px;
  }

  .MainBox {
    width: 75vw;
    height: 51vh;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);

    .UserNickName {
      margin-top: 72 / 1080 * 100vh;
      margin-bottom: 8 / 1080 * 100vh;
      padding-left: 112 / 1920 * 100vw;
      text-align: start;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 3vmin;
      line-height: 22px;
    }
    .UserText {
      margin-top: 16 / 1080 * 100vh;
      margin-bottom: 8 / 1080 * 100vh;
      padding-left: 112 / 1920 * 100vw;
      text-align: start;
      font-size: 1.5vmin;
      color: #8a8a8a;
      font-weight: 500;
    }
    .MainInnerBox {
      display: flex;
      padding-top: 16 / 1080 * 100vh;
      padding-left: 112 / 1920 * 100vw;
      padding-right: 112 / 1920 * 100vw;
      
      .ProfileImg{
        width: 30vmin;
        height: 30vmin;
        border-radius: 80%;
        object-fit: cover;
      }

      .AvgBox{
        display: flex;
        flex-wrap: wrap;
        width: 800 / 1920 * 100vw;
        margin-left: 96 / 1920 * 100vw;
        
        .PieCharts{
          display: flex;
          width: 800 / 1920 * 100vw;
          justify-content: space-between;
          // margin-left: 96 / 1920 * 100vw;
        }

        .Button {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          cursor: pointer;
          outline: none;
          border: none;
          font-family: 'Archivo';
          font-size: 0.9rem;
          font-weight: 700;
          border-radius: 0.2vw;
          padding: 0.1rem 0.6rem 0.1rem 0.6rem;
          // margin-right: 1rem;6
          color: #fff;
          background-color: #707070;
          &:hover {
            background-color: #501766;
            transition: all 0.3s;
          }
        }
      }
    }
  }

  .TierBox {
    width: 464 / 1920 * 100vw;
    height: 312 / 1080 * 100vh;
    margin-top: 80 / 1080 * 100vh;

    .TierInnerBox {
      display: flex;
      justify-content: space-between;
      padding: 16/1080*100vh 64/1920*100vw 0;

      .TierImg {
        width: 18vmin;
        height: 18vmin;
        object-fit: contain;
      }

      .TierText {
        padding-top: 32/1080*100vh;
        margin-bottom: 0;
        color: #444444;
        font-weight: 600;
        font-size: 2.3vmin;
        font-family: 'Inter';
        font-style: normal;        
      }

      .TierSubText {
        margin-top: 16/1080*100vh;
        color: #444444;
        font-weight: 600;
        font-size: 1.8vmin;
        font-family: 'Inter';
        font-style: normal;     
      }
    }
  }

  .RateBox {
    width: 464 / 1920 * 100vw;
    height: 173 / 1080 * 100vh;
    margin-top: 16 / 1080 * 100vh;

    .RecordRateBar {
      display: flex;
      margin: 48/1080*100vh 40/1920*100vw 42/1080*100vh;
      
      .Info {
        display: flex;
        margin-left: 16px;
        align-items: center;
        font-size: 24/1080*100vh;
        font-weight: 500;

        .ProgressLineText {
          opacity: 0;
          animation: showText2 0.5s 1s linear forwards;
        }
        @keyframes showText2 {
          100%{
            opacity: 1;
          }
        }
      }

      .ProgressLine {
        position: relative;
        height: 32/1080*100vh;
        width: 100%;
        background: #E84057;
        border-radius: 10px;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px rgba(255, 255, 255, 0.8);
        transform: scaleX(0);
        transform-origin: left;
        animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
        font-size: 20/1080*100vh;
        font-weight: 500;
        color:#fff;
        text-align: right;
        padding-right: 1%;

        .SpanBar {
          position: absolute;
          left: 0;
          height: 100%;
          width: 70%;
          background: #5383E8;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          transform: scaleX(0);
          transform-origin: left;
          animation: animate 1s 0.3s cubic-bezier(1, 0, 0.5, 1) forwards;
          text-align: left;
          padding-left: 1%;
        }

        @keyframes animate {
          100%{
            transform: scaleX(1);    
          }
        }
      }
    }
  }

  .RecordBox {
    width: 944 / 1920 * 100vw;
    height: 1088 / 1080 * 100vh;
    margin-top: 80 / 1080 * 100vh;

    .RecordNav {
      display: flex;

      .NavCategory {
        padding-top: 28 / 1080 * 100vh;
        padding-left: 16 / 1980 * 100vw;

        .Category {
          padding-left: 16 / 1980 * 100vw;
          color: #919191;
          font-weight: 600;
          cursor: pointer;
        }

        .SelectCategory {
          color:#444444;
          font-weight: 900;
        }
      }
    }
  }

  .UserRankingBox {
    width: 464 / 1920 * 100vw;
    height: 445 / 1080 * 100vh;
    margin-top: 16 / 1080 * 100vh;

    .UserRankingBoxTitle {
      display: flex;
      justify-content: space-between;

      .RankingNav {
        padding-top: 24 / 1080 * 100vh;
        padding-right: 24 / 1980 * 100vw;
        text-align: end;
        cursor: pointer;
      }
    }

    .RankingTextBox {
      display: flex;
      margin-top: 26 / 1080 * 100vh;
      margin-left: 22 / 1920 * 100vw;
      width: 90%;
      height: 10%;
      background: #D9D9D9;
      border-radius: 5px;
      justify-content: space-around;
      align-items: center;
      font-size: 24/1080*100vh;
      font-weight: 600;
    }

    .MyRankingTextBox {
      background: #FFFFFF;
      box-shadow: 0 0 0 3px rgb(0, 0, 0) inset;
      border-radius: 5px;
    }
  }

  .TotalRankingBox {
    
  }
}