@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .MobileTheme {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#fff, #4b185f);
    text-align: center;
    background-size: cover;
    .Mobile {
      width: 100%;
      height: 100vh;
      margin: auto auto;

      .MobileText {
        color: #000;
        text-align: center;
        .MobileTitleText {
          margin-top: 4%;
          margin-bottom: 64px;
          font-family: 'Poller One';

          font-weight: 400px;
          font-style: normal;
          line-height: 40px;
        }
        .MobileSubTitleText {
          font-family: 'Inter';
          font-weight: 400px;
          line-height: 40px;
        }
      }
      .MobileForm {
        width: 55%;
        height: 64%;
        margin: auto auto;
        border-radius: 16px;

        .MobileLoginInput {
          text-align: center;
          margin-top: 2rem;
          margin-bottom: 16px;

          input {
            width: 88%;
            height: 24px;
            background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(0deg, #686868, #686868),
              linear-gradient(0deg, #686868, #686868), #686868;
            color: #501766;
            margin-top: 16px;
            margin-bottom: 8px;
            border-radius: 8px;
            font-family: 'Archivo';
            font-size: 16px;
            font-weight: 400px;
            box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
            &::placeholder {
              color: #501766;
            }
          }
        }
        .MobileButton {
          margin: 8px 2rem;
          text-align: center;
          button {
            width: 88%;
            height: 4vh;
            border: 1px solid black;
            color: #fff;
            border-radius: 32px;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
            font-family: 'Archivo';
            font-size: 16px;
            font-weight: 400;
            background-color: #501766;
            cursor: pointer;
            &:hover {
              background-color: #290b34;
            }
          }
        }
      }
    }
  }
}
