@import './mixins';

@include desktop {
  .KioskBackground {
    position: relative;

    width: 100vw;
    height: 100vh;
    margin: 0px;

    background: #f8f8fb;

    .ChartBlock {
      width: 100vw - 96 /2560 * 100vw;
      height: 50vh;
    }
  }
}
