// .myClass {
//   ├── 객체의 노출여부와 표현방식
//   │   ├── display
//   │   └── list-style
//   │
//   ├── 위치와 좌표
//   │   ├── position
//   │   ├── float
//   │   └── clear
//   │
//   ├── 크기와 여백
//   │   ├── width / height
//   │   └── padding / margin
//   │
//   ├── 윤곽과 배경
//   │   └── border / background
//   │
//   ├── 글자와 정렬
//   │   ├── corlor / font
//   │   ├── text-decoration
//   │   ├── text-align / vertical-align
//   │   └── white-space
//   │
//   └── 내용
//       └── content

@import './mixins';

.OnlineScoreTableBlock {
  width: 125 * 2 / 2520 * 100%;
  height: 100%;
  // background: black;
  border-left: 6 / 2560 * 100vw solid black;
  border-top: 6 / 2560 * 100vw solid black;
  border-bottom: 6 / 2560 * 100vw solid black;

  // overflow: auto;
  .OnlineUpDownLineBlock {
    width: 100%;
    height: 40 / 768 * 100%;
    background: #5c5a5a;
  }
  .OnlineFrameNumber {
    display: flex;
    align-items: center;

    height: 160 / 768 * 100%;
    background: #501766;
    // border: 3 / 2560 * 100vw solid black;
    // border-top: 6 / 1600 * 100vh solid black;

    font-family: 'Sansation';
    font-style: normal;
    font-weight: 500;
    font-size: 5vw;
    line-height: 1.6;
    color: #ffffff;
  }
  .OnlineScoreBlock {
    display: flex;
    height: 264 / 768 * 50%;
    // background: red;
    // border: 1 / 2560 * 100vw solid black;
    // border-left: 3 / 2560 * 100vw solid black;
    // border-right: 3 / 2560 * 100vw solid black;
    .OnlineScoreInputBlockLeft {
      width: 50%;
      height: 100%;
      border-left: none;
      border-top: none;
      border-bottom: 1 / 2560 * 100vw solid black;
      border-right: 1 / 2560 * 100vw solid black;
      font-size: 5vw;
      text-align: center;
      background: #f2faff;
    }
    .OnlineScoreInputBlockRight {
      width: 50%;
      height: 100%;
      border-left: none;
      border-top: none;
      border-bottom: 1 / 2560 * 100vw solid black;
      border-right: none;
      font-size: 5vw;
      text-align: center;
      background: #f2faff;
    }
    .OnlineScoreInputBlockCenter {
      width: 50%;
      height: 100%;
      border-left: none;
      border-top: none;
      border-bottom: 1 / 2560 * 100vw solid black;
      border-right: 1 / 2560 * 100vw solid black;
      font-size: 5vw;
      text-align: center;
      background: #f2faff;
    }
  }
  .OnlineScoreSum {
    height: 264 / 768 * 50%;
    background: white;

    // background: blue;
  }
}
.OnlineFrame10 {
  width: 120 * 3 / 2520 * 100%;
  border-right: 6 / 2560 * 100vw solid black;
}
