@import './mixins';
$input-background: #f2faff;
$input-background1: red;
$input-background2: blue;

.OnlineScoreTableBlock {
  width: 125 * 2 / 2520 * 100%;
  height: 100%;
  border-left: 6 / 2560 * 100vw solid black;
  border-top: 6 / 2560 * 100vw solid black;
  border-bottom: 6 / 2560 * 100vw solid black;

  .OnlineUpDownLineBlock {
    width: 100%;
    height: 40 / 768 * 60%;
    background: #5c5a5a;
  }
  .OnlineFrameNumber {
    display: flex;

    height: 160 / 768 * 50%;
    background: #501766;
    align-items: center;

    font-family: 'Sansation';
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    line-height: 1.6;
    color: #ffffff;
  }
  .OnlineScoreBlock {
    display: flex;
    height: 264 / 768 * 60%;
    .OnlineScoreInputBlockLeft {
      width: 50%;
      height: 100%;
      background: $input-background1;
      text-align: center;
      border-left: none;
      border-top: none;
      border-bottom: 1 / 2560 * 100vw solid black;
      font-size: 2.5vw;
    }
    .OnlineScoreInputBlockRight {
      width: 50%;
      height: 100%;
      background: $input-background1;
      text-align: center;
      border-left: 1 / 2560 * 100vw solid black;
      border-top: none;
      border-bottom: 1 / 2560 * 100vw solid black;
      border-right: none;
      font-size: 2.5vw;
    }
    .OnlineScoreInputBlockFarRight {
      width: 50%;
      height: 100%;
      background: $input-background1;
      text-align: center;
      border-left: 1 / 2560 * 100vw solid black;
      border-top: none;
      border-bottom: 1 / 2560 * 100vw solid black;
      border-right: none;
      font-size: 2.5vw;
    }
  }
  .OnlineScoreSum {
    display: flex;
    height: 264 / 768 * 60%;
    background: white;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
  }
}
.OnlineFrame10 {
  width: 120 * 3 / 2520 * 100%;
  border-right: 6 / 2560 * 100vw solid black;
}
