.PageBase {
  display: flex;
  flex-wrap: wrap;
  padding-top: 64 / 1080 * 100vh;
  padding-right: 12.5vw;
  padding-left: 12.5vw;
  justify-content: space-between;
  background: linear-gradient(180deg, #501766 50vh, #F8F8FB 50vh);

  .ProfileBox {
    width: 908px;
    height: 384px;
    padding: 24px 112px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);

  }

  .TotalRankingBox {
    margin-top: 56px;
    table {
      width: 72vw;
      border-collapse: collapse;
      border-spacing: 0;
      th {
        background-color: #501766;
        color: white;
      }
      tr {
        &:hover {
          background-color: rgba(104, 93, 93, 0.68);
        }
      }
    }
  }
}