@import './mixins';

.ScoreTableBlock {
  width: 120 * 2 / 2520 * 100%;
  height: 100%;
  border-left: 6 / 2560 * 100vw solid black;
  border-top: 6 / 2560 * 100vw solid black;
  border-bottom: 6 / 2560 * 100vw solid black;

  .UpDownLineBlock {
    width: 100%;
    height: 40 / 768 * 100%;
    background: #5c5a5a;
  }
  .FrameNumber {
    display: flex;

    height: 160 / 768 * 100%;
    background: #501766;
    align-items: center;

    font-family: 'Sansation';
    font-style: normal;
    font-weight: 500;
    font-size: 5vw;

    line-height: 1.6;
    color: #ffffff;
  }
  .ScoreBlock {
    display: flex;
    height: 264 / 768 * 100%;
    .ScoreInputBlockLeft {
      width: 50%;
      height: 100%;
      background: #f2faff;
      text-align: center;
      flex: auto;
      border-bottom: 1 / 2560 * 100vw solid black;
      border-top: none;
      border-left: none;
      border-right: none;
      font-size: 5vw;
    }
    .ScoreInputBlockRight {
      width: 50%;
      height: 100%;
      background: #f2faff;
      text-align: center;
      flex: auto;
      border-bottom: 1 / 2560 * 100vw solid black;
      border-top: none;
      border-left: 1 / 2560 * 100vw solid black;
      border-right: none;
      font-size: 5vw;
    }
    .ScoreInputBlockFarRight {
      width: 50%;
      height: 100%;
      background: #f2faff;
      text-align: center;
      flex: auto;
      border-bottom: 1 / 2560 * 100vw solid black;
      border-top: none;
      border-left: 1 / 2560 * 100vw solid black;
      border-right: none;
      font-size: 5vw;
    }
  }
  .ScoreSum {
    display: flex;
    height: 264 / 768 * 100%;
    background: white;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
  }
}
.Frame10 {
  width: 120 * 3 / 2520 * 100%;
  border-right: 6 / 2560 * 100vw solid black;
}
