.Login {
  position: absolute;

  .LoginForm {
    box-sizing: border-box;
    position: absolute;
    width: 480px;
    height: 720px;
    left: 1224px;
    top: 124px;
    border: 2px solid blue;

    background: #fff;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 24px;

    .LoginState {
      border: 2px solid green;
      width: auto;
      height: 240px;
      text-align: center;
      margin: 216px auto;
    }
    .InputBox {
      border: 2px solid purple;
    }
  }
}
